body{
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.text-lowercase{
    font-size: 18px;
    margin-left: 3px;
}