<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>post - CodeMaster Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">CodeMaster Community</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CodeMaster Community</a>
            <!--            <a class="navbar-brand" href="#">-->
            <!--                <img alt="Brand" src="img/Screen Shot 2019-12-02 at 2.26.18 PM.png">-->
            <!--            </a>-->

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">my message</a></li>
                        <li><a href="#">my profile</a></li>
                        <li><a href="#">log out</a></li>

                    </ul>
                </li>
                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=710abdc11b7699c6273d&redirect_uri=http://localhost:8080/callback&scope=user&state=1">Login</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>post</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Question title...">
                </div>
                <div class="form-group">
                    <label for="title">description</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">Add tag:</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="input tags separated by comma">
                </div>


                <span style="color: red" class="text-lowercase" th:text="${error}"></span>
                <button type="submit" class="btn btn-success btn-publish">post</button>

            </form>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>Issue initiation Guide</h3>
            · Question Title: please describe your issue in simplified language, no more than 25 words. <br>
            · Problem supplement: supplement your problem content in detail, make sure the problem description is clear and intuitive, and provide some relevant information. <br>
            · Select Tags: select a live tag with multiple appropriate tags separated by commas, with each tag no more than 10 words. <br>
        </div>

    </div>
</div>
</body>
</html>
